@charset "utf-8";
body {
}
body a {
	text-decoration: none;
	color:#000000;	
}
body a:hover {
    opacity: 0.65;
    filter: alpha(opacity=65); /* For IE8 and earlier */
} 
#logo {
	position:absolute;	
}
/*Below is proposed fonts.. need to find more well used fonts to be sure it is available on most systems
- Century Gothic (regular) for the navigation bar and the footer
- Tahoma (bold) for the “Book tickets”/“Donate” buttons
- Minion Pro (italic, bold, regular…) for all the rest
*/

/*This div features the Nav Bar*/
/*When screen is too small again change menu to symbol with dropdown...?*/
/*Can use java to create dynamic drop-down but is it supported in mobiles?*/
@media (min-width: 1280px) {
		span.sml-screen {display:none}
		.large-screen {
		padding-right:250px;
		background-color: #000000;	
		}
	}
/*Need to change 900px when appropiate size is found (this is location where nav bar collides with logo*/
@media (min-width: 1000px) and (max-width: 1279px) {
		span.sml-screen {display:none}
		.medium-screen {
		padding-right:0px;
		background-color: #000000;	
		}
	}
@media (max-width: 999px) {
    span.lrg-screen {display:none}
}
#nav {
	height: 22px;
	background-color: #000000;
	margin-right:2px;
	margin-top:40px;
	padding-top: 2px;
	padding-bottom: 0px;
	float:right;
	clear:both;
	
}
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
	padding-left:4px;
}
#nav a {
	color: #FFFFFF;
	height: 25px;
	width: 185px;
	background-color: #000000;
	text-align: center;
	margin-left: 0px;
	border-style: none solid none none;
	border-color: #FFFFFF;
	border-right-width: thin;
	margin-top: 3px;
	padding-left: 2px;
	padding-right:6px;
}
#nav li {
	display:inline;
}
/*This is for the dropdown -- screen size is less then 999 pixels*/
nav img {
	margin-left:120px;	
}
nav ul ul {
	display: none;
}
	nav ul li:hover > ul {
		display: block;
	}
	nav ul { 
		list-style: none;
		float:right;
		position: relative;
		display: inline-table;
		padding-left:0px;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}
	nav ul li {
		float: left;
}
	
		nav ul li:hover a {
			color: #000000;
		}
	
	nav ul li a {
		display: block; 
		color: #ffffff; 
		text-decoration: none;
		
	}
	nav ul ul {
		width:11em;
		background: #ffffff; 
		border-radius: 0px; 
		padding: 0;
		position: absolute; 
		top: 100%;
}
	nav ul ul li {
		float: none; 
		border-top: 1px solid #000000;
		border-bottom: 1px solid #000000;
		position: relative;
	}
		nav ul ul li a {
			padding: 15px 15px;
			color: #ffffff;
		}	
			nav ul ul li a:hover {
				background: #000000;
				color:#ffffff;
			}
nav ul ul ul {
	position: absolute;  top:0;
}

/*Thanks to Iggy*/
/*How to make a dropdown using pure css -- http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu*/
/*This div features the Navigation controls below the primary nav bar*/
@media (min-width: 400px) {
		
		.med {
			margin-top:15px;
		}
			.med li {
				margin-left:5px;	
			}
			.med img {
				margin-left:5px;	
			}
	}
/*Need to change 900px when appropiate size is found (this is location where nav bar collides with logo*/
@media (max-width: 399px) {
		.sml {
			margin-top:55px;
		}
			.sml li {
				margin-left:2px;	
			}
			.sml img {
				margin-left:2px;	
			}
	}
#navBelow {
	height: 25px;
	padding-right:20px;
	background-color: #FFFFFF;
	margin-bottom:40px;
	padding-top: 2px;
	padding-bottom: 0px;
	float:right;
	clear:both;
}
#navBelow ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
	padding-left:4px;
}
#navBelow a {
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}
#navBelow li {
	display:inline;
	background-color: #000000;
	margin-top: 3px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top:4px;
	padding-bottom:4px;
	
}
#navBelow img {
	vertical-align: middle;
	margin-bottom:5px; 	
}
#sectionTop {
	margin-right:auto;
	margin-left:auto;
	width:100%;
	text-align:center;
	clear:both;
}
#sectionTop a:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
/* Widescreen */
@media (min-width: 1285px) {
	.col-wide a {
		float: left;
		width: 30%;
        margin-left:2.5em;
	}
}
/*Normal monitor size*/
@media (min-width: 992px) and (max-width: 1284px) {
	.col-norm a {
		float: left;
		width: 30%;
		margin-left:1em;
	}
}
/*Tablet*/
@media (min-width: 768px) and (max-width: 991px) {
	.col-tablet a {
		float: left;
		width: 48%;
	}
}
@media (max-width: 767px) {
	.col-tablet a {
		float: left;
		width: 96%;
	}
}
/*Used Lindsey's code to help^*/
#sectionTop a {
	height:200px;
	float:left;
	margin-top:50px;
	border-style: solid;
	border-width:thin; 	
}
#sect1 a {
	background-color:#00FBFF; 
}
#sect2 a {
	background-color:#B7A066;
}
#sect3 a {
	background-color:#15738B;
}
#sect4 a {
	background-color:#804D4E;
}
#sect5 a {
	background-color:#7F3A8B;
}
#sect6 a {
	background-color:#D14FE3;
	margin-bottom:50px;
}
#footer {
	
	height: 40px;
	background-color:#000000;
	margin-left:-8px;
	padding-bottom: 0px;
	padding-right:17px;
	clear:both;
	width:100%;
}
#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
	padding-left:4px;
	width: 100%;
}
#footer a {
	display:block;
	color: #FFFFFF;
	height: 23px;
	width: 99%;
	background-color: #000000;
	text-decoration: none;
	text-align: center;
	margin-top:7px;
	margin-left: 0px;
	border-right:solid;
	border-color: #FFFFFF;
	border-right-width: thin;
	padding-top:4px;
	padding-left: 2px;
	padding-right:6px;
}
#footer li {
	float:left;
	width: 33%;
	margin-left:0.3%;
}
#footerFB a {
	border-right:none;
}
#footerFB img {
	vertical-align:middle;
	margin-top:-6px;
}
@media (min-width: 768px) {
    span.small {display:none}
}
@media (max-width: 767px) {
    span.large {display:none}
}
/*need to apply responsive features*/
/*Plan on making <em> writing vanish when size to small using <span> classes same as the footer*/
#stripSection {
	
}
#stripSection h1 {
	float:left;	
	margin-left:10px;
	padding-right:10px;
	padding-top:15px;
}
#stripSection img {
	float:left;	
	padding-top:5px;
	padding-bottom:5px;
	padding-left:40px;
}
#stripSection p {
	float:left;	
	padding-left:150px;
	padding-top:27px;
}
@media (max-width: 950px) {
    span.lrg {display:none}
}
.whatsOnSection {
	background-color:#00FBFF;
	height:110px;
	clear:both;
	margin-left:-8px;
	margin-right:-8px;
}
.watchSection {
	background-color:#B7A066;
	height:110px;
	clear:both;
	margin-left:-8px;
	margin-right:-8px;
	}
.ticketSection {
	background-color:#15738B;
	height:110px;
	clear:both;
	margin-left:-8px;
	margin-right:-8px;
	}
.supportSection {
	background-color:#804D4E;
	height:110px;
	clear:both;
	margin-left:-8px;
	margin-right:-8px;
	}
.performersSection {
	background-color:#7F3A8B;
	height:110px;
	clear:both;
	margin-left:-8px;
	margin-right:-8px;
	}
.aboutUsSection {
	background-color:#D14FE3;
	height:110px;
	clear:both;
	margin-left:-8px;
	margin-right:-8px;
	}
.section {
	float:left;
	clear:left;
}
.section h2 {
	float:left;
	clear:left;
	background-color:#000000;
	color:#FFFFFF;
	padding-right:5px;
	padding-left:5px;
}
.section img {	
	float:left;
	clear:left;
}
.anouncements {	
	width:1000px;
	margin-bottom:25px;
	float:left;
}

.anouncements h3 {	
	padding-left:10px;
}
.anouncements h4 {	
	padding-left:10px;
}
.anouncements p {	
	padding-left:10px;
}

.presentation h2 {
	float:left;
	clear:left;
	background-color:#000000;
	color:#FFFFFF;
	padding-right:5px;
	padding-left:5px;
}

.presentation h4 {
	padding-left:10px;
}

.timeline {
    position: relative;
    list-style-type: none;
    padding: 30px 0 50px 0;
    font-family: 'Gorditas', Arial, sans-serif;
}

.timeline:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0;
    left: 165px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJUlEQVQIW2NkQAP/gYARWQwkAOLDBeECjEAAkkEWAKtEFwAJAgAZEBP+oM1IkwAAAABJRU5ErkJggg==);
}

.event {
    position: relative;
    margin-bottom: 80px;
    padding-right: 40px;
}

.thumb {
    position: absolute;
    width: 100px;
    height: 100px;
    box-shadow:
    0 0 0 8px rgba(65,131,142,1),
    0 1px 1px rgba(255,255,255,0.5);
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-transform: scale(0.8) translateX(24px);
    -moz-transform: scale(0.8) translateX(24px);
    -o-transform: scale(0.8) translateX(24px);
    -ms-transform: scale(0.8) translateX(24px);
    transform: scale(0.8) translateX(24px);
}

.thumb:before {
    content: '';
    position: absolute;
    height: 8px;
    z-index: -1;
    background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPElEQVQYV2NkQAP/gYARCNDFUQRgirAphitEl0TngxXisg5ZnBGXIpgbYfIYjkb3BNxGbBLYxIgyEaQRAA8KKAWYsZtjAAAAAElFTkSuQmCC);
    width: 51px;
    top: 42px;
    left: 100%;
    margin-left: 8px;
}

.thumb span {
    color: #41838e;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    position: absolute;
    bottom: -30px;
}

.user-1 {
    background-image: url(Images/WatchAndListenPage/Image%20Gallery/Last%20night%20of%20the%20proms/last_night_of_the_proms_bro_dsc0001.jpg);
}

.event label,
.event input[type="radio"] {
    width: 24px;
    height: 24px;
    left: 158px;
    top: 36px;
    position: absolute;
    display: block;
}

.event input[type="radio"] {
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

.event label:after {
    font-family: 'fontawesome-selected';
    content: '\e702';
    background: #fff;
    border-radius: 50%;
    color: #41838E;
    font-size: 26px;
    height: 100%;
    width: 100%;
    left: -2px;
    top: -3px;
    line-height: 24px;
    position: absolute;
    text-align: center;
}

.content-perspective {
    margin-left: 230px;
    position: relative;

    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -o-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
}

.content-perspective:before {
    content: '';
    width: 37px;
    left: -51px;
    top: 45px;
    position: absolute;
    height: 1px;
    z-index: -1;
    background: #fff;
}

.content {
    -webkit-transform: rotateY(10deg);
    -moz-transform: rotateY(10deg);
    -o-transform: rotateY(10deg);
    -ms-transform: rotateY(10deg);
    transform: rotateY(10deg);

    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.content-inner {
    position: relative;
    padding: 20px;
    color: #333;
    border: none;
    border-left: 5px solid #41838e;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background: #fff;
}

.content-inner h3 {
    font-size: 26px;
    padding: 5px 0 5px 0;
    color: #41838e;
}

.content-inner p {
    font-size: 18px;
    max-height: 0px;
    overflow: hidden;
    color: transparent;
    color: rgba(0,0,0,0);
    text-align: left;
}

.content-inner:before {
    font-family: 'fontawesome-selected';
    content: '\25c2';
    font-weight: normal;
    font-size: 54px;
    line-height: 54px;
    position: absolute;
    width: 30px;
    height: 30px;
    color: #41838e;
    left: -22px;
    top: 19px;
    z-index: -1;
}

/* Transitions */

.thumb,
.thumb span,
.content-inner h3 {
    -webkit-transition: all 0.6s ease-in-out 0.2s;
    -moz-transition: all 0.6s ease-in-out 0.2s;
    -o-transition: all 0.6s ease-in-out 0.2s;
    -ms-transition: all 0.6s ease-in-out 0.2s;
    transition: all 0.6s ease-in-out 0.2s;
}

.content-inner {
    -webkit-transition: box-shadow 0.8s linear 0.2s;
    -moz-transition: box-shadow 0.8s linear 0.2s;
    -o-transition: box-shadow 0.8s linear  0.2s;
    -ms-transition: box-shadow 0.8s linear 0.2s;
    transition: box-shadow 0.8s linear 0.2s;
}

.content {
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
    -moz-transition: -moz-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
    -o-transition: -o-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
    -ms-transition: -ms-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
    transition: transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
}

.content-inner p {
    -webkit-transition: max-height 0.5s linear, color 0.3s linear;
    -moz-transition: max-height 0.5s linear, color 0.3s linear;
    -o-transition: max-height 0.5s linear, color 0.3s linear;
    -ms-transition: max-height 0.5s linear, color 0.3s linear;
    transition: max-height 0.5s linear, color 0.3s linear;
}

/* Checked */

.event input[type="radio"]:checked + label:after {
    content: '\2714';
    color: #F26328;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.8);
}

.event input[type="radio"]:checked ~ .content-perspective:before {
    background: #F26328;
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner h3 {
    color: #F26328;
}

.event input[type="radio"]:checked ~ .content-perspective .content {
    -webkit-transform: rotateY(-5deg);
    -moz-transform: rotateY(-5deg);
    -o-transform: rotateY(-5deg);
    -ms-transform: rotateY(-5deg);
    transform: rotateY(-5deg);
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner {
    border-color: #F26328;
    box-shadow: 10px 0px 10px -6px rgba(0, 0, 0, 0.1);
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner p {
    max-height: 260px; /* Add media queries */
    color: rgba(0,0,0,0.6);
    -webkit-transition-delay: 0s, 0.6s;
    -moz-transition-delay: 0s, 0.6s;
    -o-transition-delay: 0s, 0.6s;
    -ms-transition-delay: 0s, 0.6s;
    transition-delay: 0s, 0.6s;
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner:before {
    color: #F26328;
}

.event input[type="radio"]:checked ~ .thumb {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    box-shadow:
    0 0 0 8px rgba(242,99,40,1),
    0 1px 1px rgba(255,255,255,0.5);
}

.event input[type="radio"]:checked ~ .thumb span {
    color: #F26328;
}

.event input[type="radio"]:checked ~ .thumb:before {
    background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkQAOfUjX+882+wYgujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQBbNyaHFmzEqgAAAABJRU5ErkJggg==);
}

.content-inner p,
.thumb span,
.event label {
    -webkit-backface-visibility: hidden;
}

@media screen and (max-width: 850px) {
    .content-inner h3 {
        font-size: 20px;
    }

    .content-inner p {
        font-size: 14px;
        text-align: justify;
    }

    .event input[type="radio"]:checked ~ .content-perspective .content-inner p {
        max-height: 500px;
    }
}

@media screen and (max-width: 540px) {
    .timeline::before {
        left: 50px;
    }

    .event {
        padding-right: 0px;
        margin-bottom: 100px;
    }


    .thumb {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }

    .event input[type="radio"] {
        width: 100px;
        height: 100px;
        left: 0px;
        top: 0px;
    }

    .thumb:before,
    .event input[type="radio"]:checked ~ .thumb:before {
        background: none;
        width: 0;
    }

    .event label {
        display: none;
    }

    .content-perspective {
        margin-left: 0px;
        top: 80px;
    }

    .content-perspective:before {
        height: 0px;
    }

    .content {
        -webkit-transform: rotateX(-10deg);
        -moz-transform: rotateX(-10deg);
        -o-transform: rotateX(-10deg);
        -ms-transform: rotateX(-10deg);
        transform: rotateX(-10deg);
    }

    .event input[type="radio"]:checked ~ .content-perspective .content {
        -webkit-transform: rotateX(10deg);
        -moz-transform: rotateX(10deg);
        -o-transform: rotateX(10deg);
        -ms-transform: rotateX(10deg);
        transform: rotateX(10deg);
    }

    .content-inner {
        border-left: none;
        border-top: 5px solid #41838e;
    }

    .event input[type="radio"]:checked ~ .content-perspective .content-inner {
        border-color: #F26328;
        box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.1);
    }

    .content-inner:before {
        content: '\25b4';
        left: 33px;
        top: -32px;
    }

    .event input[type="radio"]:checked ~ .content-perspective .content-inner p {
        max-height: 300px;
    }
}