@charset "utf-8";
body {
	
}
body a {
	text-decoration: none;
	color:#000000;	
}
body a:hover {
    opacity: 0.65;
    filter: alpha(opacity=65); /* For IE8 and earlier */
} 
#logo {
	position:absolute;	
}
/*Below is proposed fonts.. need to find more well used fonts to be sure it is available on most systems
- Century Gothic (regular) for the navigation bar and the footer
- Tahoma (bold) for the “Book tickets”/“Donate” buttons
- Minion Pro (italic, bold, regular…) for all the rest
*/

/*This div features the Nav Bar*/
@media (min-width: 1280px) {
		span.sml-screen {display:none}
		.large-screen {
		padding-right:250px;
		background-color: #000000;	
		}
	}
/*Need to change 900px when appropiate size is found (this is location where nav bar collides with logo*/
@media (min-width: 1000px) and (max-width: 1279px) {
		span.sml-screen {display:none}
		.medium-screen {
		padding-right:0px;
		background-color: #000000;	
		}
	}
@media (max-width: 999px) {
    span.lrg-screen {display:none}
}
#nav {
	height: 22px;
	background-color: #000000;
	margin-right:2px;
	margin-top:40px;
	padding-top: 2px;
	padding-bottom: 0px;
	float:right;
	clear:both;
	}
	#nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0px;
		padding-left:4px;
	}
	#nav a {
		color: #FFFFFF;
		height: 25px;
		width: 185px;
		background-color: #000000;
		text-align: center;
		margin-left: 0px;
		border-style: none solid none none;
		border-color: #FFFFFF;
		border-right-width: thin;
		margin-top: 3px;
		padding-left: 2px;
		padding-right:6px;
	}
	#nav li {
		display:inline;
	}
/*This is for the dropdown -- screen size is less then 999 pixels*/
nav img {
	margin-left:120px;	
}
nav ul ul {
	display: none;
}
	nav ul li:hover > ul {
		display: block;
	}
	nav ul { 
		list-style: none;
		float:right;
		position: relative;
		display: inline-table;
		padding-left:0px;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}
	nav ul li {
		float: left;
}
	
		nav ul li:hover a {
			color: #000000;
		}
	
	nav ul li a {
		display: block; 
		color: #ffffff; 
		text-decoration: none;
		
	}
	nav ul ul {
		width:11em;
		background: #ffffff; 
		border-radius: 0px; 
		padding: 0;
		position: absolute; 
		top: 100%;
}
	nav ul ul li {
		float: none; 
		border-top: 1px solid #000000;
		border-bottom: 1px solid #000000;
		position: relative;
	}
		nav ul ul li a {
			padding: 15px 15px;
			color: #ffffff;
		}	
			nav ul ul li a:hover {
				background: #000000;
				color:#ffffff;
			}
nav ul ul ul {
	position: absolute;  top:0;
}

/*Thanks to Iggy*/
/*How to make a dropdown using pure css -- http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu*/
/*This div features the Navigation controls below the primary nav bar*/
@media (min-width: 400px) {
		
		.med {
			margin-top:15px;
		}
			.med li {
				margin-left:5px;	
			}
			.med img {
				margin-left:5px;	
			}
	}
/*Need to change 900px when appropiate size is found (this is location where nav bar collides with logo*/
@media (max-width: 399px) {
		.sml {
			margin-top:55px;
		}
			.sml li {
				margin-left:2px;	
			}
			.sml img {
				margin-left:2px;	
			}
	}
#navBelow {
	height: 25px;
	padding-right:20px;
	background-color: #FFFFFF;
	margin-bottom:40px;
	padding-top: 2px;
	padding-bottom: 0px;
	float:right;
	clear:both;
}
#navBelow ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
	padding-left:4px;
}
#navBelow a {
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}
#navBelow li {
	display:inline;
	background-color: #000000;
	margin-top: 3px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top:4px;
	padding-bottom:4px;
	
}
#navBelow img {
	vertical-align: middle;
	margin-bottom:5px; 	
}
#sectionTop {
	margin-right:auto;
	margin-left:auto;
	width:100%;
	text-align:center;
	clear:both;
}
#sectionTop a:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
/* Widescreen */
@media (min-width: 1285px) {
	.col-wide a {
		float: left;
		width: 30%;
        margin-left:2.5em;
	}
}
/*Normal monitor size*/
@media (min-width: 992px) and (max-width: 1284px) {
	.col-norm a {
		float: left;
		width: 30%;
		margin-left:1em;
	}
}
/*Tablet*/
@media (min-width: 768px) and (max-width: 991px) {
	.col-tablet a {
		float: left;
		width: 48%;
	}
}
@media (max-width: 767px) {
	.col-tablet a {
		float: left;
		width: 96%;
	}
}
/*Used Lindsey's code to help^*/
#sectionTop a {
	height:200px;
	float:left;
	margin-top:50px;
	border-style: solid;
	border-width:thin; 	
}
#sect1 a {
	background-color:#00FBFF; 
}
#sect2 a {
	background-color:#B7A066;
}
#sect3 a {
	background-color:#15738B;
}
#sect4 a {
	background-color:#804D4E;
}
#sect5 a {
	background-color:#7F3A8B;
}
#sect6 a {
	background-color:#D14FE3;
	margin-bottom:50px;
}
#footer {
	height: 40px;
	background-color:#000000;
	margin-left:-8px;
	padding-bottom: 0px;
	padding-right:17px;
	clear:both;
	width:100%;
}
	#footer ul {
		list-style-type: none;
		margin: 0;
		padding: 0px;
		padding-left:4px;
		width: 100%;
	}
	#footer a {
		display:block;
		color: #FFFFFF;
		height: 23px;
		width: 99%;
		background-color: #000000;
		text-decoration: none;
		text-align: center;
		margin-top:7px;
		margin-left: 0px;
		border-right:solid;
		border-color: #FFFFFF;
		border-right-width: thin;
		padding-top:4px;
		padding-left: 2px;
		padding-right:6px;
	}
	#footer li {
		float:left;
		width: 33%;
		margin-left:0.3%;
	}
	#footerFB a {
		border-right:none;
	}
	#footerFB img {
		vertical-align:middle;
		margin-top:-6px;
	}
@media (min-width: 768px) {
    span.small {display:none}
}
@media (max-width: 767px) {
    span.large {display:none}
}
@media (min-width: 400px) {
		#stripSection {
			padding-top:150px;	
		}
		span.xtrasml {display:none}
	}
@media (max-width: 399px) {
		#stripSection {
			padding-top:200px;	
		}
		span.norm {display:none}
	}
/*#stripSection {
	color:#fff;	
}*/
	#stripSection h1 {
		float:left;	
		margin-left:10px;
		padding-right:10px;
		padding-top:15px;
	}
	#stripSection img {
		float:left;	
		padding-top:5px;
		padding-bottom:5px;
	}
	#stripSection p {
		float:left;	
		padding-left:150px;
		padding-top:27px;
	}
@media (max-width: 950px) {
    span.lrg {display:none}
}
.whatsOnSection {
	background-color:#00FBFF;
	height:110px;
	clear:both;
	margin-left:-8px;
	margin-right:-8px;
}
.watchSection {
	background-color:#B7A066;
	height:110px;
	clear:both;
	margin-left:-8px;
	margin-right:-8px;
	}
.ticketSection {
	background-color:#15738B;
	height:110px;
	clear:both;
	margin-left:-8px;
	margin-right:-8px;
	}
.supportSection {
	background-color:#804D4E;
	height:110px;
	clear:both;
	margin-left:-8px;
	margin-right:-8px;
	}
.performersSection {
	background-color:#7F3A8B;
	height:110px;
	clear:both;
	margin-left:-8px;
	margin-right:-8px;
	}
.aboutUsSection {
	background-color:#D14FE3;
	height:110px;
	clear:both;
	margin-left:-8px;
	margin-right:-8px;
	}
.contactSection {
	background-color:#C40E11;
	height:110px;
	clear:both;
	margin-left:-8px;
	margin-right:-8px;	
}
.section {
	padding-top:20px;
	margin-top:250px;
	margin-bottom:390px;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}
	.section h2 {
		float:left;
		clear:left;
		background-color:#000000;
		color:#FFFFFF;
		padding-right:5px;
		padding-left:5px;
	}
	.section img {	
		float:left;
		clear:left;
	}
@media (min-width:1600px) {
	.sectionWatch {
		width: 48%;
	}
}
@media (min-width:981px) and (max-width:1599px) {
	.sectionWatch {
		width: 30%;
	}	
}
@media (min-width: 700px) and (max-width:980px) {
	.sectionWatch {
		float:left;
		width: 48%;
	}	
}
@media (max-width: 699px) {
	.sectionWatch {
		float:left;
		width: 100%;
	}
	}
.sectionWatch {
	padding-top:10px;
	padding-left:30px;
	margin-top:10px;
	margin-bottom:50px;
	margin-left: auto;
	margin-right: auto;
	float:left;
}
	.sectionWatch h2 {
		float:left;
		clear:left;
		background-color:#000000;
		color:#FFFFFF;
		padding-right:5px;
		padding-left:5px;
	}
	.sectionWatch img {	
		float:left;
		clear:left;
	}
	.sectionWatch video {	
		float:left;
		clear:left;
	}
@media (min-width:1600px) {
	.sectionWatch2 {
		float:right;
		width: 48%;
	}
}
@media (min-width:981px) and (max-width:1599px) {
	.sectionWatch2 {
		float:right;
		width: 48%;
	}	
}
@media (min-width: 700px) and (max-width:980px) {
	.sectionWatch2 {
		float:left;
		width: 48%;
	}	
}
@media (max-width: 699px) {
	.sectionWatch2 {
		float:left;
		width: 100%;
	}
	}
.sectionWatch2 {
	padding-top:75px;
	padding-left:30px;
	margin-top:10px;
	margin-bottom:100px;
	margin-left: auto;
	margin-right: auto;
	
}
	.sectionWatch2 h2 {
		float:left;
		clear:left;
		background-color:#000000;
		color:#FFFFFF;
		padding-right:5px;
		padding-left:5px;
	}
	.sectionWatch2 img {	
		float:left;
		clear:left;
	}
	.sectionWatch2 video {	
		float:left;
		clear:left;
	}
@media (min-width: 768px) {
    .anouncements {
		width:75%;	
	}
}
@media (max-width: 880px) {
    .anouncements {
		width:90%;	
	}
}
@media (min-width: 881px) {
    .anouncements {
		width:70%;	
	}
}
.anouncements {	
	margin-bottom:25px;
	float:left;
	padding-bottom:50px;
}
	.anouncements h3 {	
		padding-left:10px;
	}
	.anouncements h4 {	
		padding-left:10px;
	}
	.anouncements p {	
		padding-left:10px;
	}
@media (min-width:1600px) {
	.anouncementsWatch {
		width:40%;
	}
}
@media (max-width:1599px) {
	.anouncementsWatch {
		clear:left;
		width:90%;
	}	
}
.anouncementsWatch {	
	margin-bottom:25px;
	float:left;
}
	.anouncementsWatch h3 {	
		padding-left:10px;
	}
	.anouncementsWatch h4 {	
		padding-left:10px;
	}
	.anouncementsWatch p {	
		padding-left:10px;
	}
#header {
	position:fixed;
    top:0;
    width:100%;
    margin:0px;	
	background-color:#fff;
	height:200px;
	padding-top:10px;
	/*This index allows the java image gallery to fall behind the 'header' with the scroll up effect*/
	z-index:+1;
}
#main {
    top:0;
    width:100%;
    margin:0px;	
	background-color:#fff;
	height:150px;
	padding-top:10px;
}
.formData {
	width:45%;	
}
.formData form{
	float:left;
}
form {
	width:100%;
	clear:left;	
}
label
{
width: 10em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block
}
input  {
	margin-left:35px;	
}
.submit input
{
margin-left: 11em;
} 
.formData2 {
	width:45%;
	float:right;
	margin-bottom:50px;	
}
.formData2 form {
	float:right;
	clear:both;
}
/*Added to differentiate this information for user*/
#debitInfo {
	width:10em;
	border:double;
	margin-left:auto;
	margin-right:auto;	
}
#debitInfo p {
	padding-left:20px;	
}
.memberFees {
	width: 45%;
	float: left;
	border: thin solid #9F9F9F;
}
.memberFees p {
	padding-left:20px;	
}
.memberFees .contact-title {
	padding-left:20px;	
}
#info-adult {
	padding-top:10px;	
}
#info-family {
	padding-top:10px;	
}
.contact-title{
	width:100px;
	display:inline-block;
	text-align:right;
	padding-right:25px;	
}
#contact {
	float:left;
	clear:both;	
}
@media (min-width:750px) and (max-width:1199px) {
	.morePerformers {
		width:30%;	
	}	
}
@media (min-width:1200px) {
	.morePerformers {
		width:20%;
	}	
}
@media (max-width:749px) {
	.morePerformers {
		width:50%;
	}	
}
.morePerformers {
	float:left;	
	height:350px;
}
.morePerformers p {
	clear:left;
}
#performMore {
	clear:left;	
}
@media (min-width:749px) and (max-width:1023px) {
	#banner {
		width:750px;
	}	
	span.bannerLarge {display:none}
	span.bannerSmall {display:none}
}
@media (min-width:1024px) {
	#banner {
		width:1024px;
	}	
	span.bannerMed {display:none}
	span.bannerSmall {display:none}
}
@media (max-width:748px) {
	#banner {
		width:400px;
	}	
	span.bannerLarge {display:none}
	span.bannerMed {display:none}
}
#banner {
	margin-left:auto;
	margin-right:auto;	
}
.sectTick {
	width:450px;	
	padding-top:60px;
	margin-top:250px;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
}
#calendar {
	width:360px;
	background-color:#BB2729;
	margin-left:auto;
	margin-right:auto;	
}
#ticketHeading h2 {
	float:left;
	clear:left;
	background-color:#000000;
	color:#FFFFFF;
	padding-right:5px;
	padding-left:5px;
	margin-top:30px;
	margin-left:20px;
}